In [3]:
import pandas as pd
import numpy as np

ratings = pd.read_csv('./data/ratings.csv', parse_dates=['timestamp'])

ratings.sample(5)

          userId  movieId  rating   timestamp
2755609    18642    86911     3.0  1377355934
13633788   94171     1041     5.0   891425273
4816654    33092     2006     3.0  1226548364
8038859    55377     2605     4.0  1021478567
19547554  135244     2891     4.0   983926848

In [4]:
rand_userIds = np.random.choice(ratings['userId'].unique(), 
                                size=int(len(ratings['userId'].unique())*0.3), 
                                replace=False)

ratings = ratings.loc[ratings['userId'].isin(rand_userIds)]

print('There are {} rows of data from {} users'.format(len(ratings), len(rand_userIds)))

There are 5977426 rows of data from 41547 users

In [8]:
# ratings['rank_latest'] = ratings.groupby(['userId'])['timestamp'].rank(method='first', ascending=False)

# train_ratings = ratings[ratings['rank_latest'] != 1]
# test_ratings = ratings[ratings['rank_latest'] == 1]

# # drop columns that we no longer need
# train_ratings = train_ratings[['userId', 'movieId', 'rating']]
# test_ratings = test_ratings[['userId', 'movieId', 'rating']]

DataError: No numeric types to aggregate